<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>CRECON.S</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>2305</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>HELLO</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>PEERSOFTV15.S</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>2305</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.FPMACROS</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERAROMBA</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERAUXINSTALL</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERDEF</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERFGC</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERFORNEXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERGDATA</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERGLOBALPAGE</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERGOTO</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERINSTALL</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERINTEGARITH</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERLIST</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERMOTIDATA</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERMOUSTIME</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERMTK</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERNARRAY</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERNAUXMEM</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERNPTRGET</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERPROCFUN</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.PEERRGI</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>TCUSER.S</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>2305</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>TCUSRFNDEMO.S</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>2305</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>TF</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>TIMRWAIT</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>TUTMC.S</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>2305</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>TUTORIAL</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>TUTORIAL2</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
</array>
</plist>
